@charset "utf-8";
/* CSS Document */
html, body {
      cursor:url('/images/mouse.png'), auto !important;
    }
    a:hover {
            cursor:url('/images/select.png'), auto !important;
    }
       a:active {
                cursor:url('/images/wheel.png'), auto !important;

    }
